.ns-form {
    padding: 50px 0 120px 300px;
    font-family: Arial sans-serif;
    font-size: 12px;
    line-height: 16px;
}

.ns-form__wrapper {
    display: flex;
    margin-bottom: 20px;
}

.ns-form__column {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-shrink: 0;
}

.ns-form__column--left {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background: #187baf;
    color: #ffffff;
    font-size: 16px;
}

.ns-form__cell {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 6px 10px;
    box-sizing: border-box;
    height: 50px;
    outline: 1px solid #444444;
}

.ns-form__cell--required {
    font-weight: 700;
    font-style: italic;
}

.ns-form__cell--big {
    height: 125px;
}

.ns-form__cell--caption {
    position: absolute;
    top: 0;
    margin-top: 0;
    width: 300px;
    justify-content: center;
    background: #187baf;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.ns-form__link-select {
    font-size: 14px;
    line-height: 18px;
    color: #187baf;
}

.ns-form__cell input,
.ns-form__cell select,
.ns-form__cell textarea {
    width: 100%;
    box-sizing: border-box;
}

.ns-form__cell textarea {
    height: 100%;
}

.ns-form__buttons {
    z-index: 20;
    position: absolute;
    left: 20px;
    padding: 10px;
    width: 265px;
    box-sizing: border-box;
    background: #ffffff;
}

.ns-form__prompt {
    margin: 0;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
}

.ns-form__btn {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 100px;
    display: inline-block;
    font-weight: 700;
    outline: none;
    border: 1px solid #555555;
}